<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <style>
    .separator {
      border-top: 1px solid #ccc;
      margin: 20px 0;
    }
  </style>

  <app-main-component></app-main-component>  
  <div class="separator"></div>
  <app-second-component></app-second-component>

</body>
</html>

<router-outlet></router-outlet>
